<h1> Search results: </h1>
<ul>
<% @package_files.each do |f| %>
  <li>
    <%= link_to f.path,
        codestream_package_package_file_path(f.package.codestream.name,
                                             f.package.name,f.path) %>
  </li>
<% end %>
</ul>
