<p id="notice"><%= notice %></p>

<h1>Codestreams</h1>

<ul>
    <% @codestreams.each do |codestream| %>
      <li>
        <%= link_to codestream.name, codestream_path(codestream.name) %>
      </li>
    <% end %>
</ul>
