<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @codestream.name %>
</p>

<p>
  <strong>Packages:</strong>
  <ul>
  <% @codestream.packages.each do |package| %>
    <li><%= link_to package.name, codestream_package_url(package.codestream.name,package.name) %></li>
  <% end %>
  </ul>
</p>
